<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instructions</title>
    <link rel='stylesheet' href='static/instruction.css'>
</head>
<body>
    <h1>Rules And Regulations:</h1>
    <div class="timeline">
        <div class="container left-container">
            <img src='static/photos/question.jpeg'>
            <div class="text-box">
                <h2>Questions</h2>
                <p>The KBC Quiz consists of <strong>15 questions</strong>.</p>
                <p>Each correct answer will move you to the next question, increasing your earnings.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/wrong-ans.jpg'>
            <div class="text-box">
                <h2>Wrong Answers</h2>
                <p>A wrong answer will cause you to fall back to the starting point of the current safe zone and lose any earnings beyond that point.</p>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/prize.jpg'>
            <div class="text-box">
                <h2>Prize Money</h2>
                <p>Each question has a fixed prize amount, starting from <strong>Rs. 1000</strong> and going up to <strong>Rs. 1 Crore</strong>. </p>
                    <p>The prize amount increases with the difficulty of the questions.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/safe.png'>
            <div class="text-box">
                <h2>Safe Zones</h2>
                <p>There are <strong>Three safe zones</strong> where you can secure your winnings:</p>
                <ul class="safe-zones">
                    <li>Rs. 10,000</li>
                    <li>Rs. 3,20,000</li>
                    <li>Rs. 50,00,000</li>
                </ul>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/lifeline1.png'>
            <div class="text-box">
                <h2>Lifelines</h2>
                <p>You have <strong>three lifelines</strong> available during the game:</p>
                <p><strong>Only one lifeline</strong> can be used per question.</p>
                <p>Each lifeline can be used <strong>only once</strong> during the quiz.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/lifeline.png'>
            <div class="text-box">
                <h2>About Each Lifeline</h2>
                <ul>
                    <li><strong>50-50</strong>: Two incorrect options will be removed.</li>
                    <li><strong>Switch the Question</strong>: The current question will be replaced with a new one.</li>
                    <li><strong>Shield</strong>: Even if your answer is wrong, it will be treated as correct.</li>
                </ul>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/quit.jpg'>
            <div class="text-box">
                <h2>Quit</h2>
                
                <p><strong>Quit</strong> button will be enabled after first Question</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
    </div>
    
</body>
</html>