<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KBC Pricing</title>
    <link rel="stylesheet" href="static/prize.css">
</head>
<body>
    <h1>Prize Money List</h1>
    <div class="timeline">
        <div class="container left-container">
            <img src='static/photos/fifteen.png'>
            <div class="text-box">
                <h2>1 Crore</h2>
                <p>Top prize for answering all 15 questions correctly.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/fourteen.png'>
            <div class="text-box">
                <h2>50,00,000</h2>
                <p>Reward for question 14.
                    <strong>Safe Zone 🛡️</strong>
                </p>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/thirteen.png'>
            <div class="text-box">
                <h2>25,00,000</h2>
                <p>Reward for question 13.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/twelve.png'>
            <div class="text-box">
                <h2>12,50,000</h2>
                <p>Reward for question 12.</p>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/eleven.png'>
            <div class="text-box">
                <h2>6,40,000</h2>
                <p>Reward for question 11.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/ten.png'>
            <div class="text-box">
                <h2>3,20,000</h2>
                <p>Reward for question 10.
                    <strong>Safe Zone 🛡️</strong>
                </p>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/nine.png'>
            <div class="text-box">
                <h2>1,60,000</h2>
                <p>Reward for question 9.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/eight.png'>
            <div class="text-box">
                <h2>80,000</h2>
                <p>Reward for question 8.</p>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/seven.png'>
            <div class="text-box">
                <h2>40,000</h2>
                <p>Reward for question 7.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/six.png'>
            <div class="text-box">
                <h2>20,000</h2>
                <p>Reward for question 6.</p>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/five.png'>
            <div class="text-box">
                <h2>10,000</h2>
                <p>Reward for question 5.
                    <strong>Safe Zone 🛡️</strong>
                </p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/four.png'>
            <div class="text-box">
                <h2>5,000</h2>
                <p>Reward for question 4.</p>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/three.jpeg'>
            <div class="text-box">
                <h2>3,000</h2>
                <p>Reward for question 3.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
        <div class="container right-container">
            <img src='static/photos/two.jpeg'>
            <div class="text-box">
                <h2>2,000</h2>
                <p>Reward for question 2.</p>
                <span class='right-container-arrow'></span>
            </div>
        </div>
        <div class="container left-container">
            <img src='static/photos/one.png'>
            <div class="text-box">
                <h2>1,000</h2>
                <p>Reward for question 1.</p>
                <span class='left-container-arrow'></span>
            </div>
        </div>
    </div>
</body>
</html>
